/*.container {
    height: 25px;
    background-color: #CCC;
    position: relative;
}

.container .progress-bar {
    position: absolute;
    height: 100%;
    background-color: #0fd439;
    animation: progress-animation 5s;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%
    }
}*/

#home {
    padding-top: 5rem;
}

#navbar {
    background-color: #030303;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    font-family: 'Lato', sans-serif;
}

.navbar_link {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.navbar_link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar_link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar_link:hover {
    color: #ffc107;
}

.content {
    position: static;
    width: 383px;
    height: 584px;
    left: 524px;
    top: 316px;
    background: #0d0c0a;
    transition: 0.4s ease-out 0s;
    border-radius: 10px;
}

.content:hover {
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.229);
}

body {
    background: #030303fc;
    color: #FFFFFF;
    margin: 0;
}

select {
    background: #030303;
    color: #FFFFFF;
    border-radius: 20px;
}

.titles {
    text-align: center;
    color: #FFF;
    font-family: 'Roboto Mono', monospace;
}

#intro {
    font-size: 20px;
    max-width: 100%;
    width: 800px;
    margin-left: 10px;
}

.projects {
    width: 454px;
    height: 404px;
    left: 524px;
    top: 316px;
    background: #0d0c0a;
}

.grid {
    margin: 25px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    row-gap: 20px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.intro {
    color: #ffc107;
}

.intro:hover {
    font-weight: bolder;
}

#python:hover {
    color: #346fa1;
}

#csharp:hover {
    color: #390091;
}

#php:hover {
    color: #4d5b96;
}

#java:hover {
    color: #e26d00;
}

.projects_link {
    color: inherit;
    text-decoration: inherit;
}

.projects_link:hover {
    color: #FFF;
}

.footer_link {
    position: relative;
    color: #4d5b96;
    text-decoration: none;
}

.footer_link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.footer_link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.footer_link:hover {
    color: #ffc107;
}

footer {
    background-color: rgb(30, 29, 29);
}

.container {
    flex-wrap: wrap;
    display: grid;
    justify-content: space-between;
}

.projects_text {
    color: rgb(176, 175, 175);
    text-align: center;
    text-decoration: none;
}

.skills_titles {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.percentage {
    margin-left: 10px;
}

.bar,
.inner_percentage {
    height: 5px;
    border-radius: .25rem;
}

.bar {
    background-color: gray;
}

.per_html {
    display: block;
    background-color: #f15930;
    width: 90%;
}

.per_css {
    display: block;
    background-color: #0e7dc2;
    width: 80%;
}

.per_javascript {
    display: block;
    background-color: #f68133;
    width: 75%;
}

.per_bootstrap {
    display: block;
    background-color: #7611f5;
    width: 90%;
}

.per_php {
    display: block;
    background-color: #4d5b96;
    width: 90%;
}

.per_csharp {
    display: block;
    background-color: #6f49ac;
    width: 90%;
}

.per_java {
    display: block;
    background-color: #e26d00;
    width: 90%;
}

.per_python {
    display: block;
    background-color: #346fa1;
    width: 65%;
}

.per_mysql {
    display: block;
    background-color: #3c6296;
    width: 90%;
}

.per_figma {
    display: block;
    background-color: #0acf83;
    width: 80%;
}

.per_git {
    display: block;
    background-color: #f05033;
    width: 75%;
}

.per_office {
    display: block;
    background-color: #d83b01;
    width: 90%;
}

p,
h3 {
    font-family: 'Lato', sans-serif;
}

.btn-contact {
    background-color: #d34b3c;
    color: #FFF;
}

.btn-contact:hover {
    font-weight: bold;
    color: #FFF;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #656565;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #fcc726;
}

img {
    max-width: 100%;
}

#home {
    background-color: #000000;
}

.btn:hover {
    font-weight: bold;
}